
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');

.delete-button {
    border-radius: 8px;
    box-sizing: border-box;
    border: none; 
    text-decoration: none;
    padding: 0.3rem 0.7rem;
}